In [ ]:
"""TODO:
    - Refine narrative
    - Make plots
    - Determine presentation form.
        - Kyle very partial to some kind of web app"""

In [29]:
import pandas as pd
import plotly as px

In [32]:
### Lists
## Years common across data
years = ["2021", "2022", "2023"]

In [31]:
### Read in data
## Read in disengagements data
dis_dfs = []
for year in years:
    try:
        annual_disengagements = pd.read_csv(f"data/Disengagements/{year}-Autonomous-Vehicle-Disengagement-Reports-CSV.csv", encoding='utf-8')
    except UnicodeDecodeError:
        # If utf-8 decoding fails, try another common encoding
        annual_disengagements = pd.read_csv(f"data/Disengagements/{year}-Autonomous-Vehicle-Disengagement-Reports-CSV.csv", encoding='latin-1')
    dis_dfs.append(annual_disengagements)

disengagement_df = pd.concat(dis_dfs, ignore_index=True)

# INFO: disengagement_df.shape = (23579, 10)
# TODO: Cast DATE column as datetype for disengagements

## Read in mileage data
mile_dfs = []
for year in years:
    try:
        annual_mileage = pd.read_csv(f"data/Mileage/{year}-Autonomous-Mileage-Reports-CSV.csv", encoding='utf-8')
    except UnicodeDecodeError:
        # If utf-8 decoding fails, try another common encoding
        annual_mileage = pd.read_csv(f"data/Mileage/{year}-Autonomous-Mileage-Reports-CSV.csv", encoding='latin-1')
    mile_dfs.append(annual_mileage)

mileage_df = pd.concat(mile_dfs, ignore_index=True)

# INFO: mileage_df.shape = (4360, 46)
# TODO: Cast DATE column as datetype for mileage

In [ ]:
#### Histogram: miles driven / VIN ######

In [33]:
#### Bar: Total Miles driven per year ####
# Optional: groupby company ..."Manufacturer"

In [27]:
#### DISENGAGEMENTS PER MILE DRIVEN
# Makes most sense to show by year on a per-company basis. 
# Per vehicle basis doesn't make much sense (since we do not know anything about their operations)

In [24]:
mileage_df.head(2)

,Manufacturer,Permit Number,VIN NUMBER,Annual Total of Disengagements,DEC 2020,JAN 2021,FEB 2021,MAR 2021,APR 2021,MAY 2021,...,FEB 2023,MAR 2023,APR 2023,MAY 2023,JUN 2023,JULY 2023,AUG 2023,SEP 2023,OCT 2023,NOV 2023
0,AIMOTIVE INC.,AVT036,JTDKN3DU9A0059509,57.0,0,0,0,77,416,385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AIMOTIVE INC.,AVT036,4T1B21HK6KU514747,49.0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
disengagement_df.head(2)

,Manufacturer,Permit Number,DATE,VIN NUMBER,VEHICLE IS CAPABLE OF OPERATING WITHOUT A DRIVER\n(Yes or No),DRIVER PRESENT\n(Yes or No),"DISENGAGEMENT INITIATED BY\n(AV System, Test Driver, Remote Operator, or Passenger)","DISENGAGEMENT\nLOCATION\n(Interstate, Freeway, Highway, Rural Road, Street, or Parking Facility)",DESCRIPTION OF FACTS CAUSING DISENGAGEMENT,Unnamed: 9
0,AIMOTIVE INC.,AVT036,2021.03.04.,JTDKN3DU9A0059509,No,Yes,Test Driver,Freeway,During an exit/merge the test vehicle was goin...,NaN
1,AIMOTIVE INC.,AVT036,2021.03.16.,JTDKN3DU9A0059509,No,Yes,Test Driver,Freeway,"Exit/Merge Lane departure, due to the car miss...",NaN